<a href="https://colab.research.google.com/github/Ojotitus/AI-invasion/blob/main/first%20code%20run.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import sklearn 
from sklearn.preprocessing import OneHotEncoder
from sklearn.model_selection import train_test_split

In [ ]:
df = pd.read_csv("/content/drive/MyDrive/diabetes.csv")
df.head(20)

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1
5,5,116,74,0,0,25.6,0.201,30,0
6,3,78,50,32,88,31.0,0.248,26,1
7,10,115,0,0,0,35.3,0.134,29,0
8,2,197,70,45,543,30.5,0.158,53,1
9,8,125,96,0,0,0.0,0.232,54,1
10,4,110,92,0,0,37.6,0.191,30,0
11,10,168,74,0,0,38.0,0.537,34,1
12,10,139,80,0,0,27.1,1.441,57,0
13,1,189,60,23,846,30.1,0.398,59,1
14,5,166,72,19,175,25.8,0.587,51,1
15,7,100,0,0,0,30.0,0.484,32,1
16,0,118,84,47,230,45.8,0.551,31,1
17,7,107,74,0,0,29.6,0.254,31,1
18,1,103,30,38,83,43.3,0.183,33,0
19,1,115,70,30,96,34.6,0.529,32,1

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 768 entries, 0 to 767
Data columns (total 9 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Pregnancies               768 non-null    int64
 1   Glucose                   768 non-null    int64
 2   BloodPressure             768 non-null    int64
 3   SkinThickness             768 non-null    int64
 4   Insulin                   768 non-null    int64
 5   BMI                       768 non-null    float64
 6   DiabetesPedigreeFunction  768 non-null    float64
 7   Age                       768 non-null    int64
 8   Outcome                   768 non-null    int64
dtypes: float64(2), int64(7)
memory usage: 54.1 KB

In [ ]:
df.describe()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
count,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000
mean,3.845052,120.894531,69.105469,20.536458,79.799479,31.992578,0.471876,33.240885,0.348958
std,3.369578,31.972618,19.355807,15.952218,115.244002,7.884160,0.331329,11.760232,0.476951
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.078000,21.000000,0.000000
25%,1.000000,99.000000,62.000000,0.000000,0.000000,27.300000,0.243750,24.000000,0.000000
50%,3.000000,117.000000,72.000000,23.000000,30.500000,32.000000,0.372500,29.000000,0.000000
75%,6.000000,140.250000,80.000000,32.000000,127.250000,36.600000,0.626250,41.000000,1.000000
max,17.000000,199.000000,122.000000,99.000000,846.000000,67.100000,2.420000,81.000000,1.000000

In [ ]:
df.columns

Index(['Pregnancies', 'Glucose', 'BloodPressure', 'SkinThickness', 'Insulin',
       'BMI', 'DiabetesPedigreeFunction', 'Age', 'Outcome'],
      dtype='object')

In [ ]:
df.isnull().sum()

Pregnancies                 0
Glucose                     0
BloodPressure               0
SkinThickness               0
Insulin                     0
BMI                         0
DiabetesPedigreeFunction    0
Age                         0
Outcome                     0
dtype: int64

In [ ]:
df.isnull()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...
763,False,False,False,False,False,False,False,False,False
764,False,False,False,False,False,False,False,False,False
765,False,False,False,False,False,False,False,False,False
766,False,False,False,False,False,False,False,False,False
767,False,False,False,False,False,False,False,False,False

In [ ]:
df.isnull().sum()

Pregnancies                 0
Glucose                     0
BloodPressure               0
SkinThickness               0
Insulin                     0
BMI                         0
DiabetesPedigreeFunction    0
Age                         0
Outcome                     0
dtype: int64

In [ ]:
#Categorical Feature
cat_features = {"Pregnancies","Glucose","BloodPressure","SkinThickness","Insulin","BMI","DiabetesPedigreeFunction","Age","Outcome"}
for cat_feature in cat_features:
  print(cat_feature, df[cat_feature].unique(), sep=":")
  print("#"*50)

BMI:[33.6 26.6 23.3 28.1 43.1 25.6 31.  35.3 30.5  0.  37.6 38.  27.1 30.1
 25.8 30.  45.8 29.6 43.3 34.6 39.3 35.4 39.8 29.  36.6 31.1 39.4 23.2
 22.2 34.1 36.  31.6 24.8 19.9 27.6 24.  33.2 32.9 38.2 37.1 34.  40.2
 22.7 45.4 27.4 42.  29.7 28.  39.1 19.4 24.2 24.4 33.7 34.7 23.  37.7
 46.8 40.5 41.5 25.  25.4 32.8 32.5 42.7 19.6 28.9 28.6 43.4 35.1 32.
 24.7 32.6 43.2 22.4 29.3 24.6 48.8 32.4 38.5 26.5 19.1 46.7 23.8 33.9
 20.4 28.7 49.7 39.  26.1 22.5 39.6 29.5 34.3 37.4 33.3 31.2 28.2 53.2
 34.2 26.8 55.  42.9 34.5 27.9 38.3 21.1 33.8 30.8 36.9 39.5 27.3 21.9
 40.6 47.9 50.  25.2 40.9 37.2 44.2 29.9 31.9 28.4 43.5 32.7 67.1 45.
 34.9 27.7 35.9 22.6 33.1 30.4 52.3 24.3 22.9 34.8 30.9 40.1 23.9 37.5
 35.5 42.8 42.6 41.8 35.8 37.8 28.8 23.6 35.7 36.7 45.2 44.  46.2 35.
 43.6 44.1 18.4 29.2 25.9 32.1 36.3 40.  25.1 27.5 45.6 27.8 24.9 25.3
 37.9 27.  26.  38.7 20.8 36.1 30.7 32.3 52.9 21.  39.7 25.5 26.2 19.3
 38.1 23.5 45.5 23.1 39.9 36.8 21.8 41.  42.2 34.4 27.2 36.5 29.8 39.2
 38.4 36.2 48.3 20.  22.3 45.7 23.7 22.1 42.1 42.4 18.2 26.4 45.3 37.
 24.5 32.2 59.4 21.2 26.7 30.2 46.1 41.3 38.8 35.2 42.3 40.7 46.5 33.5
 37.3 30.3 26.3 21.7 36.4 28.5 26.9 38.6 31.3 19.5 20.1 40.8 23.4 28.3
 38.9 57.3 35.6 49.6 44.6 24.1 44.5 41.2 49.3 46.3]
##################################################
SkinThickness:[35 29  0 23 32 45 19 47 38 30 41 33 26 15 36 11 31 37 42 25 18 24 39 27
 21 34 10 60 13 20 22 28 54 40 51 56 14 17 50 44 12 46 16  7 52 43 48  8
 49 63 99]
##################################################
Outcome:[1 0]
##################################################
Age:[50 31 32 21 33 30 26 29 53 54 34 57 59 51 27 41 43 22 38 60 28 45 35 46
 56 37 48 40 25 24 58 42 44 39 36 23 61 69 62 55 65 47 52 66 49 63 67 72
 81 64 70 68]
##################################################
Glucose:[148  85 183  89 137 116  78 115 197 125 110 168 139 189 166 100 118 107
 103 126  99 196 119 143 147  97 145 117 109 158  88  92 122 138 102  90
 111 180 133 106 171 159 146  71 105 101 176 150  73 187  84  44 141 114
  95 129  79   0  62 131 112 113  74  83 136  80 123  81 134 142 144  93
 163 151  96 155  76 160 124 162 132 120 173 170 128 108 154  57 156 153
 188 152 104  87  75 179 130 194 181 135 184 140 177 164  91 165  86 193
 191 161 167  77 182 157 178  61  98 127  82  72 172  94 175 195  68 186
 198 121  67 174 199  56 169 149  65 190]
##################################################
Pregnancies:[ 6  1  8  0  5  3 10  2  4  7  9 11 13 15 17 12 14]
##################################################
DiabetesPedigreeFunction:[0.627 0.351 0.672 0.167 2.288 0.201 0.248 0.134 0.158 0.232 0.191 0.537
 1.441 0.398 0.587 0.484 0.551 0.254 0.183 0.529 0.704 0.388 0.451 0.263
 0.205 0.257 0.487 0.245 0.337 0.546 0.851 0.267 0.188 0.512 0.966 0.42
 0.665 0.503 1.39  0.271 0.696 0.235 0.721 0.294 1.893 0.564 0.586 0.344
 0.305 0.491 0.526 0.342 0.467 0.718 0.962 1.781 0.173 0.304 0.27  0.699
 0.258 0.203 0.855 0.845 0.334 0.189 0.867 0.411 0.583 0.231 0.396 0.14
 0.391 0.37  0.307 0.102 0.767 0.237 0.227 0.698 0.178 0.324 0.153 0.165
 0.443 0.261 0.277 0.761 0.255 0.13  0.323 0.356 0.325 1.222 0.179 0.262
 0.283 0.93  0.801 0.207 0.287 0.336 0.247 0.199 0.543 0.192 0.588 0.539
 0.22  0.654 0.223 0.759 0.26  0.404 0.186 0.278 0.496 0.452 0.403 0.741
 0.361 1.114 0.457 0.647 0.088 0.597 0.532 0.703 0.159 0.268 0.286 0.318
 0.272 0.572 0.096 1.4   0.218 0.085 0.399 0.432 1.189 0.687 0.137 0.637
 0.833 0.229 0.817 0.204 0.368 0.743 0.722 0.256 0.709 0.471 0.495 0.18
 0.542 0.773 0.678 0.719 0.382 0.319 0.19  0.956 0.084 0.725 0.299 0.244
 0.745 0.615 1.321 0.64  0.142 0.374 0.383 0.578 0.136 0.395 0.187 0.905
 0.15  0.874 0.236 0.787 0.407 0.605 0.151 0.289 0.355 0.29  0.375 0.164
 0.431 0.742 0.514 0.464 1.224 1.072 0.805 0.209 0.666 0.101 0.198 0.652
 2.329 0.089 0.645 0.238 0.394 0.293 0.479 0.686 0.831 0.582 0.446 0.402
 1.318 0.329 1.213 0.427 0.282 0.143 0.38  0.284 0.249 0.926 0.557 0.092
 0.655 1.353 0.612 0.2   0.226 0.997 0.933 1.101 0.078 0.24  1.136 0.128
 0.422 0.251 0.677 0.296 0.454 0.744 0.881 0.28  0.259 0.619 0.808 0.34
 0.434 0.757 0.613 0.692 0.52  0.412 0.84  0.839 0.156 0.215 0.326 1.391
 0.875 0.313 0.433 0.626 1.127 0.315 0.345 0.129 0.527 0.197 0.731 0.148
 0.123 0.127 0.122 1.476 0.166 0.932 0.343 0.893 0.331 0.472 0.673 0.389
 0.485 0.349 0.279 0.346 0.252 0.243 0.58  0.559 0.302 0.569 0.378 0.385
 0.499 0.306 0.234 2.137 1.731 0.545 0.225 0.816 0.528 0.509 1.021 0.821
 0.947 1.268 0.221 0.66  0.239 0.949 0.444 0.463 0.803 1.6   0.944 0.196
 0.241 0.161 0.135 0.376 1.191 0.702 0.674 1.076 0.534 1.095 0.554 0.624
 0.219 0.507 0.561 0.421 0.516 0.264 0.328 0.233 0.108 1.138 0.147 0.727
 0.435 0.497 0.23  0.955 2.42  0.658 0.33  0.51  0.285 0.415 0.381 0.832
 0.498 0.212 0.364 1.001 0.46  0.733 0.416 0.705 1.022 0.269 0.6   0.571
 0.607 0.17  0.21  0.126 0.711 0.466 0.162 0.419 0.63  0.365 0.536 1.159
 0.629 0.292 0.145 1.144 0.174 0.547 0.163 0.738 0.314 0.968 0.409 0.297
 0.525 0.154 0.771 0.107 0.493 0.717 0.917 0.501 1.251 0.735 0.804 0.661
 0.549 0.825 0.423 1.034 0.16  0.341 0.68  0.591 0.3   0.121 0.502 0.401
 0.601 0.748 0.338 0.43  0.892 0.813 0.693 0.575 0.371 0.206 0.417 1.154
 0.925 0.175 1.699 0.682 0.194 0.4   0.1   1.258 0.482 0.138 0.593 0.878
 0.157 1.282 0.141 0.246 1.698 1.461 0.347 0.362 0.393 0.144 0.732 0.115
 0.465 0.649 0.871 0.149 0.695 0.303 0.61  0.73  0.447 0.455 0.133 0.155
 1.162 1.292 0.182 1.394 0.217 0.631 0.88  0.614 0.332 0.366 0.181 0.828
 0.335 0.856 0.886 0.439 0.253 0.598 0.904 0.483 0.565 0.118 0.177 0.176
 0.295 0.441 0.352 0.826 0.97  0.595 0.317 0.265 0.646 0.426 0.56  0.515
 0.453 0.785 0.734 1.174 0.488 0.358 1.096 0.408 1.182 0.222 1.057 0.766
 0.171]
##################################################
BloodPressure:[ 72  66  64  40  74  50   0  70  96  92  80  60  84  30  88  90  94  76
  82  75  58  78  68 110  56  62  85  86  48  44  65 108  55 122  54  52
  98 104  95  46 102 100  61  24  38 106 114]
##################################################
Insulin:[  0  94 168  88 543 846 175 230  83  96 235 146 115 140 110 245  54 192
 207  70 240  82  36  23 300 342 304 142 128  38 100  90 270  71 125 176
  48  64 228  76 220  40 152  18 135 495  37  51  99 145 225  49  50  92
 325  63 284 119 204 155 485  53 114 105 285 156  78 130  55  58 160 210
 318  44 190 280  87 271 129 120 478  56  32 744 370  45 194 680 402 258
 375 150  67  57 116 278 122 545  75  74 182 360 215 184  42 132 148 180
 205  85 231  29  68  52 255 171  73 108  43 167 249 293  66 465  89 158
  84  72  59  81 196 415 275 165 579 310  61 474 170 277  60  14  95 237
 191 328 250 480 265 193  79  86 326 188 106  65 166 274  77 126 330 600
 185  25  41 272 321 144  15 183  91  46 440 159 540 200 335 387  22 291
 392 178 127 510  16 112]
##################################################

In [ ]:
df.head(10)

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1
5,5,116,74,0,0,25.6,0.201,30,0
6,3,78,50,32,88,31.0,0.248,26,1
7,10,115,0,0,0,35.3,0.134,29,0
8,2,197,70,45,543,30.5,0.158,53,1
9,8,125,96,0,0,0.0,0.232,54,1

In [ ]:
#Label Encoding
cat_features = ["Pregnancies","Glucose","BloodPressure","SkinThickness","Insulin","BMI","DiabetesPedigreeFunction","Age","Outcome"]
for cat_feature in cat_features:
  df[f"{cat_feature}_cat"] = df[cat_feature].astype ("category")
  df[f"{cat_feature}_cat"] = df[f"{cat_feature}_cat"].cat.codes

In [ ]:
df.head(10)

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome,Pregnancies_cat,Glucose_cat,BloodPressure_cat,SkinThickness_cat,Insulin_cat,BMI_cat,DiabetesPedigreeFunction_cat,Age_cat,Outcome_cat
0,6,148,72,35,0,33.6,0.627,50,1,6,86,22,28,0,123,350,29,1
1,1,85,66,29,0,26.6,0.351,31,0,1,23,19,22,0,62,196,10,0
2,8,183,64,0,0,23.3,0.672,32,1,8,121,17,0,0,30,368,11,1
3,1,89,66,23,94,28.1,0.167,21,0,1,27,19,16,62,77,53,0,0
4,0,137,40,35,168,43.1,2.288,33,1,0,75,4,28,102,209,514,12,1
5,5,116,74,0,0,25.6,0.201,30,0,5,54,23,0,0,53,80,9,0
6,3,78,50,32,88,31.0,0.248,26,1,3,16,8,25,57,103,118,5,1
7,10,115,0,0,0,35.3,0.134,29,0,10,53,0,0,0,140,23,8,0
8,2,197,70,45,543,30.5,0.158,53,1,2,133,21,38,179,99,44,32,1
9,8,125,96,0,0,0.0,0.232,54,1,8,63,37,0,0,0,103,33,1

In [ ]:
#Drop redundant features
df.drop(["Pregnancies","Glucose","BloodPressure","SkinThickness","Insulin","BMI","DiabetesPedigreeFunction","Age","Outcome"], axis = 1, inplace=True)
df.head(10)

,Pregnancies_cat,Glucose_cat,BloodPressure_cat,SkinThickness_cat,Insulin_cat,BMI_cat,DiabetesPedigreeFunction_cat,Age_cat,Outcome_cat
0,6,86,22,28,0,123,350,29,1
1,1,23,19,22,0,62,196,10,0
2,8,121,17,0,0,30,368,11,1
3,1,27,19,16,62,77,53,0,0
4,0,75,4,28,102,209,514,12,1
5,5,54,23,0,0,53,80,9,0
6,3,16,8,25,57,103,118,5,1
7,10,53,0,0,0,140,23,8,0
8,2,133,21,38,179,99,44,32,1
9,8,63,37,0,0,0,103,33,1

In [ ]:
#Data segementation
y = df["Outcome_cat"] #Target
x = df.drop("Outcome_cat", axis = 1)
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size= 0.3)

In [ ]:
#Loading the dataset into Linear Regression algorithm
from sklearn.linear_model import LinearRegression
reg = LinearRegression()
reg.fit(x_train, y_train)
LinearRegression()

LinearRegression()

In [ ]:
#Making predictions
reg.predict(x_test)

array([ 0.41181426,  0.13841802,  0.3808452 ,  0.83807577,  0.07296083,
        0.73648771,  0.20726055,  0.1482673 , -0.00235479,  1.06336726,
        0.24443942,  0.7333159 ,  0.82477404,  0.60588859,  0.36767718,
        0.56892708,  0.43690214,  0.20797107, -0.03326763,  0.65183129,
        0.15805649,  0.37732976,  0.30024343,  0.76874263,  0.74285663,
        0.89102449,  0.06958148, -0.26054482,  0.02863688,  0.45108186,
        0.61018614,  0.6518582 ,  0.04180056,  0.70921906,  0.1383595 ,
        0.91502382,  0.54884081,  0.77135397,  0.26958907,  0.30420475,
        0.08517018, -0.02632512,  0.2997279 ,  0.33738672,  0.24093694,
        0.71974645,  0.81520882,  0.01048774,  0.79655931,  0.58854721,
        0.01522812, -0.22742654,  0.39350658,  0.14565499, -0.13221386,
        0.62985626,  0.36389294,  0.48143302, -0.06515708,  0.77307373,
        0.08189105,  0.57056012,  0.05462418, -0.04787615,  0.37238583,
        0.12549754,  0.64229345,  1.09999147,  0.43045513, -0.05563131,
        0.24258352,  0.25298908,  0.11977119, -0.03081559,  0.54729973,
        0.08795253,  0.83799071,  0.27900826,  0.37038558,  0.25106224,
        0.83501811,  0.76505952, -0.10164154,  0.7284103 ,  0.62530183,
        0.48777341,  0.69975347,  0.68404825,  1.07180258,  0.40567034,
        0.65535823,  0.61198819,  0.94845984, -0.06816722,  0.58148791,
        0.40509779,  0.13781462,  0.36496723,  0.2346187 ,  0.24362131,
        0.20468726,  0.69120168,  0.65915032,  0.23975354,  0.17629627,
        0.01290414, -0.17451188,  0.41943297,  0.35463887,  0.68337511,
       -0.11464991,  0.12169596,  0.348301  ,  0.35098937,  0.52631085,
        0.31253747,  0.16148966,  0.31914661,  0.6629854 ,  0.1322199 ,
        0.20053382,  0.20568301,  0.04160666, -0.04884796,  0.65143954,
        0.38510818,  0.28112549,  0.20340764, -0.02148056,  0.15154528,
        0.72515931,  0.35813112,  0.26418957,  0.17667575,  0.73065581,
        0.01352155,  0.20598041, -0.00750675,  0.86681751,  0.49249496,
        0.63305373,  0.34413458, -0.08956547,  0.43123294,  1.02478087,
        0.57369652,  0.02628398,  0.35881899, -0.16332172,  0.20259786,
        0.8740118 ,  0.19445894,  0.64734034,  0.19675791,  0.41061829,
        0.23633961,  0.3243754 ,  0.14091523,  0.89878598,  0.21408429,
        0.21493236,  0.19090196,  0.26999426,  0.01879589,  0.55578844,
        0.79301745,  0.62357001,  0.40428534,  0.54225627,  0.18646749,
        0.74224869, -0.08311146,  0.10846593,  0.22876951,  0.09702839,
        0.12906927,  0.41665432,  0.20675977,  0.52359773,  0.3399653 ,
        0.0545256 ,  0.47625489,  0.81342674,  0.91762638,  0.72747665,
        0.06670423,  0.72718848,  0.6931314 ,  0.50619179,  0.85373944,
        0.39762891,  0.85363324,  0.34706789,  0.6924162 ,  0.40545224,
        0.41025056,  0.22959955,  0.79153574,  0.67120978,  0.04287951,
        0.04197374,  0.14770723,  0.28545103,  0.14676204,  0.49330566,
        0.25283011,  0.44587401, -0.01183747,  0.06875128,  0.41696301,
        0.70768135, -0.06574825,  0.29614458,  0.74008796,  0.08558457,
        0.05615938,  0.18491278,  0.77472407,  0.06912582, -0.02435521,
        0.93080813,  0.94922526,  0.69518603,  0.59955701,  0.30004872,
        0.29383392,  0.074135  ,  0.11263207,  0.96672549,  0.10155065,
        0.77927029])

In [ ]:
#Model Evaluation
from sklearn.metrics import mean_absolute_error
y_predict = reg.predict (x_test)
print ("MAE", mean_absolute_error (y_test, y_predict))

MAE 0.31110609250798077